{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Пользователь {{ user.get_username }}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container mt-5">
            <h3>{{ user.last_name }} {{ user.first_name }}</h3>
            <h5>Email: {{ user.email }}</h5>
        <button onclick="document.location='{% url 'logout' %}?next={{ request.path }}'" type="button" class="btn btn-outline-dark me-2">Выход</button>
        </div>
    {% endif %}
    {% for product in products %}
{#        <h3>{{ product.first_name }}</h3>#}
{#        <h3>{{ product.last_name }}</h3>#}
        <h3></h3>
        <div class="p-5 mb-4 bg-light rounded-3 container">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ product.product }}</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <h6>{{ product.time }}</h6>
          </div>
        </div>
    {% endfor %}
{% endblock %}